#warning{
    background-color:rgb(247, 217, 206);
    padding: 20px;
    border-color:crimson;
<<<<<<< HEAD
    
=======
    border-width: 2px;
    border-style: double;
>>>>>>> dee2d5295a77848bffd47d3cac6cdba89582ba37
}